# Flutter
*.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Misc
*.log
pubspec.lock
tool/
